!/upload/
/upload/*
!/upload/.gitkeep
/bitrix/managed_cache
/bitrix/.bitrixpwd*
/bitrix/managed_flags
/bitrix/modules/*.log
/bitrix/crontab
/bitrix/cache
/bitrix/backup
/bitrix/updates
/bitrix/site_checker_*
/bitrix/logs
/bitrix/tmp
/bitrix/.htaccess
/*.log
/*.txt
/*.xml
/*.dt
xmpp_dump*
/.idea